<ion-content>
  <ion-toolbar>
    <h3>Who is this character?</h3>
  </ion-toolbar>
  <ion-toolbar>
    <h6>Timer: {{quizService.timeLeft}}</h6>
    <h6 slot="end">{{quizService.totalPoints}} points awarded</h6>
  </ion-toolbar>
  <ion-toolbar>
    <h6>Question #{{quizService.getIndexOfActiveQuestion()}} of {{quizService.getNumberOfQuestions()}}
    </h6>
    <h6 slot="end">{{quizService.correctAnswers}}/12 correct</h6>
  </ion-toolbar>

  <div id="container">
    <ion-card>
      <img src="{{quizService.getPortraitOfActiveQuestion()}}">
    </ion-card>
    <ion-radio-group>
      <ion-item *ngFor="let option of quizService.getOptionsOfActiveQuestion(); let i=index">
        <ion-label>{{option}}</ion-label>
        <ion-radio mode="md" *ngIf="!quizService.isOptionSelected()" (click)="checkOption(i)"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button shape="round" color="success" (click)="continue()" tappable>
      Continue
    </ion-button>
    <ion-text *ngIf="quizService.isOptionSelected()">
      <h6>{{feedback}}</h6>
    </ion-text>
  </div>
</ion-content>