#container {
  text-align: center;
}

img {
  border: solid white 2px;
  border-radius: 1em;
  max-width: 250px;
  max-height: 250px;
}

ion-card {
  background-color: black;
}

ion-item {
  --background: black;
  ion-radio:hover  {
      background: yellow;
      border-radius: 3em;
  }
}

ion-toolbar {
  --background: black;
  h3,
  h5 {
    text-align: center;
  }
  h6 {
    margin: 0.5em;
    color: yellow;
  }
}
