<div id="container">
  <ion-text>
    <h5>Your time was {{durationSecs}} seconds.</h5>
  </ion-text>
  <ion-text>
    <h5>You had {{quizService.correctAnswers}} answers right.</h5>
  </ion-text>
  <ion-text>
    <h5>You scored {{quizService.totalPoints}} points.</h5>
  </ion-text>
  <ion-text id="feedback">{{feedback}}</ion-text>
  <img src="{{feedbackimg}}" alt="">
  <ion-button shape="round" color="warning" (click)="answers()">Correct answers</ion-button>
  <ion-text>
    <h5>Tap the "game over" image to restart.</h5>
  </ion-text>
  <img src="../../assets/img/gameover.png" (click)="goHome()" tappable>
</div>

