<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <h5>Quiz answers</h5>
  </ion-toolbar>
    <h6 class="center">Spoiler alert! Many of the following links may contain spoilers from their respective games.</h6>
</ion-header>

<ion-content>
  <div>
    <ion-header>Character</ion-header>

      <ion-list-header><a href="https://horizon.fandom.com/wiki/Aloy">Aloy</a></ion-list-header>
      <ion-item><img src="assets/img/1.jpg">Horizon: Zero Dawn</ion-item>

      <ion-list-header><a href="https://ghostoftsushima.fandom.com/wiki/Jin_Sakai">Jin Sakai</a></ion-list-header>
      <ion-item><img src="assets/img/2.jpg">Ghost of Tsushima</ion-item>

      <ion-list-header><a href="https://starcraft.fandom.com/wiki/Nova_Terra">November "Nova" Terra</a>
      </ion-list-header>
      <ion-item><img src="assets/img/3.jpg">Starcraft 1 & 2/Heroes of the Storm</ion-item>

      <ion-list-header><a href="https://megamitensei.fandom.com/wiki/Protagonist_(Persona_5)">
          Akira Kurusu aka "Joker"</a></ion-list-header>
      <ion-item><img src="assets/img/4.jpg">Persona 5</ion-item>

      <ion-list-header><a href="https://fi.wikipedia.org/wiki/Lara_Croft">Lara Croft</a></ion-list-header>
      <ion-item><img src="assets/img/5.jpg">Tomb Raider(2013)</ion-item>

      <ion-list-header><a href="https://baldursgate.fandom.com/wiki/Minsc">Minsc and Boo</a></ion-list-header>
      <ion-item><img src="assets/img/6.jpg">Baldur's Gate 1 & 2</ion-item>

      <ion-list-header><a href="https://heroesofthestorm.gamepedia.com/Sgt._Hammer">Sgt. Hammer</a></ion-list-header>
      <ion-item><img src="assets/img/7.jpg">Starcraft 1 & 2/Heroes of the Storm</ion-item>

      <ion-list-header><a href="https://dragonage.fandom.com/wiki/Cullen_Rutherford">Cullen Rutherford</a>
      </ion-list-header>
      <ion-item><img src="assets/img/8.jpg">Dragon Age 1,2 & 3</ion-item>

      <ion-list-header><a href="https://alienanthology.fandom.com/wiki/Amanda_Ripley">Amanda Ripley</a>
      </ion-list-header>
      <ion-item><img src="assets/img/9.jpg">Alien: Isolation</ion-item>

      <ion-list-header><a href="https://xcom.fandom.com/wiki/Central_Officer_Bradford">CO John Bradford</a>
      </ion-list-header>
      <ion-item><img src="assets/img/10.jpg">XCOM 1 & 2 (remakes)</ion-item>

      <ion-list-header><a href="https://masseffect.fandom.com/wiki/Liara_T%27Soni">Liara T'soni</a></ion-list-header>
      <ion-item><img src="assets/img/11.jpg">Mass Effect 1,2 & 3</ion-item>

      <ion-list-header><a href="https://deusex.fandom.com/wiki/Adam_Jensen">Adam Jensen</a></ion-list-header>
      <ion-item><img src="assets/img/12.jpg">Deus Ex: Human Revolution & Mankind Divided</ion-item>

  </div>
  <ion-item>
    <ion-text>
      <i>I do not claim any right over any of the game characters, images, or quotes used in this quiz.
        All rights reserved to the respective copyright owners.</i>
    </ion-text>
  </ion-item>
</ion-content>