img {
    max-width: 70px;
    max-height: 70px;
    margin: 0.5em;
}

ion-content {
    background-color: black !important;
}

ion-header {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    h6 {
        --background: black;
        animation: animate 3.5s linear infinite;
        @keyframes animate {
            0% {
                opacity: 0.3;
            }
            50% {
                opacity: 0.7;
            }
            100% {
                opacity: 0.3;
            }
        }
        color: yellow;
        font-size: small;
    }
    ion-back-button {
        margin-left: 5%;
    }
}

ion-item {
    font-size: small;
    color: lightblue;
    --background: black;
    ion-text {
        margin-bottom: 5%;
        text-align: center;
    }
}

ion-list-header {
    font-size: medium;
    a {
        text-decoration: none;
    }
    a:hover {
        color: yellow;
    }
}