<ion-header [translucent]="true">
  <ion-toolbar>
    <h3>
      Video game characters quiz
    </h3>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="container">
    <h1>Instructions</h1>
    <ion-item>
      <p> In this quiz you get to identify characters from various famous video games.
        Correct answers give points as follows:</p>
    </ion-item>
    <ion-item>
      <p class="good">Answering in less than 10 seconds grants five points.</p>
    </ion-item>
    <ion-item>
      <p class="okay">Answering in less than 20 seconds grants three points.</p>
    </ion-item>
    <ion-item>
      <p class="poor">If you take over 30 seconds to answer, you are granted one point.</p>
    </ion-item>
    <ion-button shape="round" style="width:40%" color="success" (click)="start()">Start</ion-button>

    <!-- For teacher's convenience... -->
    <ion-button shape="round" color="warning" (click)="answers()">Answers</ion-button>

  <ion-item class="ion-no-border">
      <img src="../../assets/img/footer.jpg" class="center">
  </ion-item>
</ion-content>