#container,
h3 {
  text-align: center;
  .good {
    color: green;
  }
  .okay {
    color: yellow;
  }
  .poor {
    color: red;
  }

  a {
    text-decoration: none;
  }
  ion-button {
    margin: 2%;
  }
  p {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin: 10px;
  }
}

ion-item {
  --background: black;
  img {
    border-radius: 0.5em;
    margin: 5%;
  }
}
